<% provide(:title, "Développement web") %>

<%= render "bluenav" %>
<div class="container">
  <h1 class = "text-center mb-5 color-green">Développement full-stack de tous vos projets web</h1>
  <h4 class = "text-center mb-5 color-blue">En alliant mon expertise Digital Business, des années de Project Management et mes compétences techniques, je crée des projets à l'UX engageante et dans l'air du temps, avec une compréhension fine des enjeux de mes clients.</h4>
  <div class="step-wrapper my-3">
    <div class="placeholder-empty col-5 px-2">
    </div>
    <div class="step-img col-2 py-4 px-2 d-flex justify-content-center">
      <img src="/assets/specifications.png" alt="specifications" class="img-fit">
    </div>
    <div class="text-wrapper col-5 px-2 pt-3">
      <h5 class="color-green">Identification des besoins et cadrage du projet</h5>
      <p class="text-justify">Je vous accompagne dans la définition des besoins et le sizing du projet, le choix de la stack technique, l'élaboration des persona et des user journeys. J'identifie les challenges techniques et nous en discutons pour trouver le juste équilibre entre vos besoins et votre budget.</p>
    </div>
  </div>
  <div class="step-wrapper my-3">
    <div class="text-wrapper col-5 px-2 pt-3">
      <h5 class="color-green">Webdesign & Wireframes</h5>
      <p class="text-justify">Je peux assurer le design d'interfaces fonctionnelles et orientées UX que vous validez à partir de wireframes. Si vous gérez cette étape vous-mêmes, nous échangeons pour identifier les demandes coûteuses afin de respecter le cadre budgétaire cible.</p>
    </div>
    <div class="step-img col-2 py-4 px-2 d-flex justify-content-center">
      <img src="/assets/wireframes.png" alt="wireframes" class="img-fit">
    </div>
    <div class="placeholder-empty col-5 px-2">
    </div>
  </div>
  <div class="step-wrapper my-3">
    <div class="placeholder-empty col-5 px-2">
    </div>
    <div class="step-img col-2 py-4 px-2 d-flex justify-content-center">
      <img src="/assets/development.png" alt="development" class="img-fit">
    </div>
    <div class="text-wrapper col-5 px-2 pt-4">
      <h5 class="color-green">Développement & Tests</h5>
      <p class="text-justify">Je développe votre projet (site web, web app) en Ruby on Rails pour un projet sur-mesure ou en Webflow / Shopify selon vos besoins pour délivrer plus rapidement et à moindre coût. Je monte une équipe si nécessaire.</p>
    </div>
  </div>
  <div class="step-wrapper my-3">
    <div class="text-wrapper col-5 px-2 pt-3">
      <h5 class="color-green">Livraison et Maintenance</h5>
      <p class="text-justify">Le projet est livré après tests et recette. Je vous donne la main et vous forme pour que vous soyez autonome pour administrer vos contenus. J'assure aussi la maintenance technique de votre site/app sur le long terme.</p>
    </div>
    <div class="step-img col-2 py-4 px-2 d-flex justify-content-center">
      <img src="/assets/maintenance.png" alt="maintenance" class="img-fit">
    </div>
    <div class="placeholder-empty col-5 px-2">
    </div>
  </div>
  <div class="step-wrapper d-flex my-3">
    <div class="placeholder-empty col-5 px-2">
    </div>
    <div class="step-img col-2 py-4 px-2 d-flex justify-content-center">
      <img src="/assets/performance.png" alt="performance" class="img-fit">
    </div>
    <div class="text-wrapper col-5 px-2 pt-3">
      <h5 class="color-green">Audit & Optimisation de la performance</h5>
      <p class="text-justify">J'audite un site existant et vous fais des recommandations d'amélioration de la performance, en SEO et en CRO (Conversion Rate Optimisation), en travaillant notamment les temps de chargement, le SEO technique ou éditorial, l'UX et les parcours utlisateurs (voir l'offre <%= link_to "Consulting", "/consulting" %>).</p>
    </div>
  </div>
  <div class="logo-wrapper my-5 d-flex flex-row justify-content-between">
    <div class="logo-width"><img src="https://upload.wikimedia.org/wikipedia/commons/6/62/Ruby_On_Rails_Logo.svg" alt="ruby-on-rails" class="logo-fit mb-1"></div>
    <div class="logo-width"><img src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Shopify_logo_2018.svg" alt="shopify" class="logo-fit"></div>
    <div class="logo-width"><img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Webflow_logo_2023.svg" alt="webflow" class="logo-fit mb-1"></div>
    <div><img src="https://seeklogo.com/images/S/stimulus-logo-00C9C155E0-seeklogo.com.png" alt="stimulus" class="logo-height"></div>
    <div><img src="https://upload.wikimedia.org/wikipedia/commons/3/33/Figma-logo.svg" alt="figma" class="logo-height"></div>
  </div>
  <p class="text-center color-blue mb-2"><strong>Un besoin ? un devis ?</strong></p>
  <button class="button center"><a href="/contact" class="text-decoration-none color-white" >Contactez-moi ici !</a></button>
</div>
