<div class="container">
  <div class="step-wrapper col-9 d-flex flex-row my-3">
    <div class="placeholder col-4">
    </div>
    <div class="step-img col-1 mx-2">
    </div>
    <div class="text-wrapper col-4">
      <h4>Identification des besoins et cadrage du projet</h4>
      <p>Je vous accompagne dans la définition des besoins et le sizing du projet, le choix de la stack technique, l'élaboration des persona et des user journeys. J'identifie les challenges techniques et nous en discutons pour trouver le juste équilibre entre vos besoins et votre budget</p>
    </div>
  </div>
</div>


<h4>Webdesign & Wireframes</h4>
<p>Je peux assurer le design d'interfaces fonctionnelles et orientées UX que vous validez à partir de wireframes. Si vous gérez cette étape vous-mêmes, nous échangeons pour identifier les demandes coûteuses afin de respecter le cadre budgétaire cible.</p>

<h4>Développement & Tests</h4>
<p>Je développe votre projet en Ruby on Rails pour un projet sur-mesure ou en Webflow / Shopify selon vos besoins pour délivrer plus rapidement et à moindre coût</p>

<h4>Livraison et Maintenance</h4>
<p>Le projet est livré après tests et recette. Je vous donne la main et vous forme pour que vous soyez autonome pour administrer vos contenus. J'assure aussi la maintenance technique de votre site sur le long terme</p>

<h4>Audit & Optimisation de la performance</h4>
<p>Je peux auditer un site existant et vous faire des recommandations en vue d'améliorer la performance de votre site, en SEO et en CRO (Conversion Rate Optimisation), en travaillant notamment le SEO technique ou éditorial, l'UX et les parcours utlisateurs (voir l'offre Consulting)</p>

