// Define variables for your color scheme

// For example:
$red: #932a62;
$blue: #265073;
$yellow: #ebf392;
$orange: #E67E22;
$green: #2D9596;
$light-green: #9AD0C2;
$gray: #0E0000;
$light-gray: #F4F4F4;
