.calendar-wrapper {
  width: 70%;
  margin: 0 auto;
}

.form-wrapper {
  background-color: $white;
  border: 1px solid $blue;
  border-radius: 5px;
  padding: 40px;
}
@media (max-width: 768px) {
.calendar-wrapper {
  width: 90%;
  margin: 0 auto;
}
}
