.container-width {
  padding-left: 5rem;
  padding-right: 5rem;
  width: 100%;
}
.calendar-wrapper {
  width: 70%;
  margin: 0 auto;
}

.background-white {
  background-color: white;
  color: white;
}

.form-wrapper {
  background-color: black;
  border-radius: 5px;
  padding: 40px;
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 768px) {
.calendar-wrapper {
  width: 90%;
  margin: 0 auto;
}
}
