// Specific CSS for your home-page
.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.background-home {
  background-color: $blue;
  color: white;
}

.wrapper-home {
  padding-right: 8rem;
  max-width: 650px;
}

.width-limit {
  max-width: 650px;
  padding-left: 8rem;
}

.text-font {
  font-weight: 400;
}

.btn-width {
  width: 200px;
  text-decoration: none;
}

.line-wrapper {
  border-bottom: rgb(164, 160, 160) 1px solid;
}

.about-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;}

.about-text {
  text-decoration: underline;
}

.review-wrapper {
  padding-left: 40px;
  padding-right: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:16px;
}

.card {
  font-size: small;
  width: 350px;
  padding: 2rem;
  background-color: white;
  text-align: justify;
  color: $blue;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-text {
  max-height: 6em;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.card-text.expanded {
  max-height: 100%;
}

.toggle-button {
  color: $green;
  background-color: white;
  cursor: pointer;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border: none;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}

.toggle-button:focus {
  outline: none;
}
