// Specific CSS for your home-page
.nav-container {
  padding: 1rem;
}

.background-black {
  background-color: black;
  color: white;
}

.wrapper-home {
  padding-right: 8rem;
  max-width: 650px;
}

.width-limit {
  max-width: 650px;
  padding-left: 8rem;
}

.text-font {
  font-weight: 400;
}

.btn-width {
  width: 200px;
  text-decoration: none;
}

.line-wrapper {
  border-bottom: rgb(0, 0, 0) 1px solid;
}

.about-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;}

.about-text {
  text-decoration: underline;
}

.review-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
}

.card {
  font-size: small;
  width: 350px;
  padding: 2rem;
  background-color: white;
  text-align: justify;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  overflow: hidden
}

.card-text {
  max-height: 6em;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.card-text.expanded {
  max-height: 100%;
}

.toggle-button {
  color: black;
  background-color: white;
  cursor: pointer;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border: none;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}

.toggle-button:focus {
  outline: none;
}

.footer {
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 200px;
}

.font-small {
  font-size: 14px !important;
}

.sitemap {
  text-decoration: none;
  cursor: pointer;
  color: white;
  margin-left: 4rem;
}

@media (max-width: 1250px) {
  .nav-container {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .review-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 18px;
  }
  .wrapper-home {
    max-width: 650px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
  }
  .width-limit {
    max-width: 650px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .nav-container {
    padding-left: 0;
    padding-right: 0;
  }

  .text-left {
    font-size: 20px;
    font-weight: 400;
  }
  .footer-wrapper {
    justify-content: flex-start;
  }
  .media {
    width: 0px;
    .fa-brands {
      display: none;
    }
  }
  .coordinates {
    flex-grow: 1;
    padding-right: 2rem;
  }
  .links {
    max-width: 250px;
    margin-left: 0px;
  }
  .sitemap {
    margin-left: 0px;
    font-size: 12px;
  }
}
