// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


:root {
  --white: #FAFAFA;
  --grey-1: #F2F2F2;
  --grey-2: #CCCCCC;
  --grey-3: #A5A5A5;
  --grey-4: #7F7F7F;
  --grey-5: #424242;
  --black: #0C0C0C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: white !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: justify;
}

.container {
  padding: 5rem 5rem;
  width: 100%;
}

.h1 {
  font-size: 47px;
}

.h2 {
  font-size: 36px;
}

.h3 {
  font-size: 32px;
}

.h4 {
  font-size: 27px;
}

.h5 {
  font-size: 23px;
}

.h6 {
  font-size: 18px;
}

.absolute_img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.notice {
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  margin-bottom: 20px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  max-width: 280px;
  text-align: center;
}

.alert {
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
  border: 1px solid #ebccd1;
  border-radius: 4px;
  margin-bottom: 20px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  max-width: 280px;
  text-align: center;
}

.menu-size {
  font-size: 32px;
}

.dropdown {
  display: inline-block;
}

.dropdown-button {
  cursor: pointer;
  position: relative;
}

.dropdown-menu {
  display: none;
}

.dropdown-menu.show {
  position: absolute;
  justify-content: start;
  align-items: start;
  background-color: white;
  border: 1px solid #ddd;
  z-index: 1000;
  min-width: 160px;
  top: 95px;
  right: 70px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.dropdown-item {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: $yellow;
}

@media(max-width: 800px) {
  .dropdown-menu.show {
    top: 70px;
    right: 20px;
  }
}
